.about {
  margin-top: 150px;
  @media screen and (max-width: 767.98px) {
    margin-top: 80px;
  }
  @media screen and (max-width: 479.98px) {
    margin-top: 40px;
  }
}
.about__container {
}
.about__content {
}
.about__title {
}
.about__list {
}
.about__item {
}
.about__text {
}
.about__media {
}
.about__image {
}
.about__images {
}
.about__image-top {
}
.about__image-bottom {
}
