.order {
  margin-top: 150px;
  padding-top: 80px;
  padding-bottom: 80px;

  background-image: url(../././images/order/order-bg.jpg);

  @media screen and (max-width: 767.98px) {
    margin-top: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @media screen and (max-width: 479.98px) {
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.order__container {
}
.order__title {
}
.order__list {
}
.order__item {
}
.order__text {
}
.order__link {
}
.order__form {
}
.form {
}
.form__item {
}
.form__name {
}
.form__input {
}
.form__button {
}
